body{
  background-color: black;
  color: white;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhaay5NjQ173hr-LqXxm8ULcWdxzX9rpNNsJJji8xjq3TcfXujzw")
}
